@import "normalize";
@import "fonts";
@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html, body {
  min-height: 100%;
  background: none;
  @include font-main;
  color: $fg-color-primary
}

html {
  background-color: $bg-color;
  transition: background-color .3s ease-out;
}

html.event {
  background-color: #ffffff;
}

@media(min-width: 600px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}