// Colors
$bgr-color: #f2f3fa;
$font-color-main: #272a36;
$font-color-secondary: #898a92;

// Utility
$border-radius: 8px;

// Font
$font-family-default: "Manrope", arial, sans-serif;

// Heading text
$font-heading-1-size: 24px;
$font-heading-1-line-height: 1.33;

$font-heading-2-size: 18px;
$font-heading-2-line-height: 1.33;

$font-heading-3-size: 14px;
$font-heading-3-line-height: 1.43;

// Headings font weight
$font-heading-base-weight: 600;

// Main text
$font-size-main: 12px;
$font-line-height-main: 1.67;
$font-line-box-main: round($font-size-main * $font-line-height-main);

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 600;

@mixin font-generator($font-size, $line-height, $font-weight: $font-weight-normal, $font-family: $font-family-default) {
  -webkit-font-smoothing: antialiased;
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
}

@mixin font-heading-1 {
  @include font-generator($font-heading-1-size, $font-heading-1-line-height, $font-weight: $font-heading-base-weight);
}

@mixin font-heading-2 {
  @include font-generator($font-heading-2-size, $font-heading-2-line-height, $font-weight: $font-heading-base-weight);
}

@mixin font-heading-3 {
  @include font-generator($font-heading-3-size, $font-heading-3-line-height, $font-weight: $font-heading-base-weight);
}

@mixin font-main {
  @include font-generator($font-size-main, $font-line-height-main);
}

@mixin user-select($selection) {
  -webkit-user-select: $selection;
  -moz-user-select: $selection;
  -ms-user-select: $selection;
  user-select: $selection;
}
