// Colors
$bgr-color: #f2f3fa;
$font-color-main: #272a36;
$font-color-secondary: #898a92;

// Utility
$border-radius: 8px;

// Font
$font-family-default: "Manrope", arial, sans-serif;

// Main text
$font-size-main: 14px;
$font-line-height-main: 1.43;
$font-line-box-main: round($font-size-main * $font-line-height-main);

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 600;

@mixin font-generator($font-size, $line-height, $font-weight: $font-weight-normal, $font-family: $font-family-default) {
  -webkit-font-smoothing: antialiased;
  font: $font-weight $font-size/$line-height $font-family;
}

@mixin font-main {
  @include font-generator($font-size-main, $font-line-height-main);
}

@mixin user-select($selection) {
  -webkit-user-select: $selection;
  -moz-user-select: $selection;
  -ms-user-select: $selection;
  user-select: $selection;
}
